{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main">
<div class="food" id="food">
  <strong>
    <h3>좋아하는 음식</h3>
  </strong> <br><br>
  <ul>
    <li> <strong>한식</strong> </li>
    <p>
      치킨 냉면 국밥 닭갈비(2.5닭갈비(볶음밥 맛집)) 닭볶음탕(박명주브라더(퓨전닭볶음탕)) 찜닭 물회
      온반(고수레(한옥마을근처) 꼭가야함 ㅠ) 오징어볶음(구이구이) 순두부찌개(구이구이)
    </p>
    <li> <strong>중식</strong> </li>
    <p>

      <em>동국대 주변 마라탕 총정리</em> <br>
      마라탕 : 마라식객 >>> 탕화쿵푸 = 라화방 <br>
      마라샹궈 : 탕화쿵푸 >> 라화방 > 마라식객 <br>
      꿔바로우 : 라화방 >> 마라식객 > 탕화쿵푸 <br>
      - - - - - - <br>
      짜장 짬뽕(복향원 : 부드러움) 볶음밥 깐쇼새우 깐풍기 가지튀김(연길반점, 차알)<br>
    </p>
    <li> <strong>일식</strong> </li>
    <p>
      초밥(여우골(홍대점,연어초밥)) 라멘 마제소바(존라멘(제일병원건너)) 돈까스 우동 사케동(산돈(밥추가*))
    </p>
    <li> <strong>양식</strong> </li>
    <p>
      피자 햄버거 파스타 스테이크 (사실 양식 많이 좋아하지는 않음)
    </p>
    <li> <strong>베트남</strong> </li>
    <p>
      쌀국수 분짜 나시고랭 반쎄오(안녕베트남(이 가게 미만 잡)) 반미(엔젤리너스bb)
    </p>
    <li> <strong>음료</strong> </li>
    <p>
      아메리카노 녹차프라푸치노 요거트스무디 (딸기음료 싫어함)
    </p>
  </ul>
</div>
</div>
{% endblock %}