{% extends 'base.html' %}
{% block content %}
<div class="main">
<div class="hobby" id="hobby">
  <strong>
    <h3>취미</h3>
  </strong> <br><br>
  <ul>
    <li><strong>넷플릭스 시청</strong></li>
    <p>넷플릭스 오리지널 (굵은 글씨 강추) <br>
      <strong>퀸즈갬빗, 브리저튼, 너의모든것, 오티스 비밀상담소,
        굿플레이스, 인간수업, 에밀리 파리에가다, 엘리트들,
      </strong>
      어둠속으로, 키싱부스, 옥자, 굿플레이스, 설국열차,
      내가사랑했던모든남자들에게, 승리호, 프로젝트파워, 스위트홈,
      페이트윙스의전설, 버드박스, 첫사랑은 처음이라서 등..
    </p>

    <li> <strong>유튜브 시청</strong> </li>
    <p>
      게임, 영화리뷰, 아프리카tv 보이는라디오, 자취 요리(무쇠맨 강추),
      고기 요리, 야생 유튜브(헌터퐝)
    </p>
    <li> <strong>영화 시청</strong></li>
    <p>
      공포 제외 다 좋아함
      (공포 특유의 하지말라는 거 해서 꼭 뭔 일 일어나는 발암요소..
      상당히 싫어함)
    </p>
    <li> <strong>드라마 시청</strong></li>
    <p>
      너무 뻔해서 결말까지 다 알 거 같은 드라마 빼곤 웬만하면
      다 즐겨봄
      최근 빈센조 시청
    </p>
    <li> <strong>확찐자 방지 헬스</strong></li>
    <p>
      워밍업 10분 유산소 <br>
      가슴 등 위주 근력 40분 <br>
      마무리 10분 유산소
    </p>
  </ul>
</div>
</div>
{% endblock %}