*{
    margin: 0;
}
header{
    padding: 55px;
    text-align: center;
    background-color: orange;
    color: white;
}
.main{
    padding: 10px;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: 	#FFE4C4;
}
.list{
    background-color: #FFE4C4;
    padding: 60px;
}
.line{
    border: solid 1px brown;
    border-radius: 10px;
    padding: 70px;
}
.wc{
    color:white;
    text-decoration: none;
}
.wc:hover{
    color: red;
    text-decoration: none;
}

.hello{
    width: 50%;
}
.intro, .hobby, .food, .netflix{
    margin: 20px;
    padding: 50px;
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 500px;
    height: 300px;
    overflow: hidden;
    text-align: center;
    justify-content: space-around;
    background:	#FDF5E6;
    color:	#800000;
}

ul{
    line-height: 2em;
}
ul li{
    text-align: start;
}

.intro:hover, .hobby:hover, .food:hover, .netflix:hover{
    height: 100%;
}

table{
    width: 280px;
    margin: 0 auto;
    border-spacing: 5px;
}
table th{
    width: 25%;
}
table td{
    width: 75%;
}
p{
    text-align: start;
}
footer{
    padding: 10px;
   
}
footer h6{
    text-align: right;

}
